input,button,a:focus{
  box-shadow: none !important;
}

.loading{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(255,255,255,0.25);
  backdrop-filter: blur(5px);
  z-index: 9999;
}

.pagination{
  justify-content: space-between;
  align-items: center;
}
.page-link:hover{
  border-color: #0a58ca;
}