input,button,a:focus{
  box-shadow: none !important;
}

.loading{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(255,255,255,0.25);
  backdrop-filter: blur(5px);
  z-index: 9999;
}

.search-input{
  border-radius: 25px;
  padding: 10px 15px;
  box-shadow: 3px 3px 5px #dee2e6 !important;
}

.fa-search{
  transform: scale(1,1);
  transition:all .2s ease-out;
}

.fa-search:hover{
  color: gray;
  transform: scale(1.2,1.2);
}

.card{
  overflow: hidden;
}

.card>img{
  transition: 1s ease-out;
}

.card>img:hover{
  transform: scale(1.2);
}

.pagination{
  justify-content: space-between;
  align-items: center;
}
.page-link:hover{
  border-color: #0a58ca;
}

.disabled{
  cursor: not-allowed;
}

.modal-dialog{
  pointer-events: all;
}

.btn-close{
  position: absolute;
  right: 0;
  padding: 1rem;
}

.selectPage{
  border: 1px solid #ced4da;
  border-radius: .25rem;
}
